package ${servicePackagePath};

import com.baomidou.mybatisplus.service.IService;
import ${entityPackagePath}.${className}Entity;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface I${className}Service extends IService<${className}Entity> {

}

